.paragraph-frame {
  display: flex;
  flex-direction: column;
}

.paragraph-form-group {
  margin-bottom: 10px;
}

.paragraph-form-group label {
  font-weight: bold;
}

.editor-wrapper {
  width: 50%;
  
}

.paragraph-image-input {
  margin-top: 10px;
  /* align-self: flex-end;  */
  margin-left: auto; /* Move the button to the right */
  margin-right: 0;
}