.formContainer {
  position: relative;
  padding: 20px; 
}

.addButton {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 20px; 
  margin-left: 20px;
  padding: 10px;
  background-color: midnightblue;
  color: beige;
}

.saveButton {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 20px; 
  margin-right: 20px; 
  padding: 10px;
  background-color: midnightblue;
  color: beige;
}

.addButton:hover, .saveButton:hover {
  background-color: lightblue; /* Change to the color you want on hover */
  color: midnightblue; /* Change to the text color you want on hover */
}
